{% extends 'baseEntreprise.html.twig' %}

{% block title %}Entreprise{% endblock %}
{% block page_title %}List Entreprises{% endblock %}

{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Company_name</th>
                <td>{{ entreprise.companyName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entreprise.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ entreprise.phone }}</td>
            </tr>
            <tr>
                <th>Tax_code</th>
                <td>{{ entreprise.taxCode }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ entreprise.createdAt ? entreprise.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ entreprise.supplier ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entreprise.password }}</td>
            </tr>
            <tr>
                <th>Field</th>
                <td>{{ entreprise.field }}</td>
            </tr>
            <tr>
                <th>Address.street</th>
                <td>{{ entreprise.address.street }}</td>
            </tr>
            <tr>
                <th>Address.city</th>
                <td>{{ entreprise.address.city }}</td>
            </tr>
            <tr>
                <th>Address.postalCode</th>
                <td>{{ entreprise.address.postalCode }}</td>
            </tr>
            <tr>
                <th>Address.country</th>
                <td>{{ entreprise.address.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entreprise_dashboard') }}">back to list</a>
{% endblock %}
